body {
    background-color: #f4f4f4;
    color: #121212;
}

nav .nav-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.custom-navbar {
    height: 170px;
}

.brand-logo img {
    height: 130px;
}

.container-btns {
    padding-top: 150px;
    padding-bottom: 0px;
}

.container {
    padding-bottom: 50px;
}

.row {
    margin-bottom: 30px;
}

.responsive-img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
}

.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-theme nav {
    background-color: #1e1e1e;

}

.dark-theme .card {
    background-color: #333;
    color: #e0e0e0;
}

.dark-theme .btn {
    background-color: #6200ea;
    color: white;
}

.dark-theme .btn:hover {
    background-color: #3700b3;
}

.dark-theme input, .dark-theme textarea, .dark-theme select {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
}

.material-icons {
    font-size: 24px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}


.logo-container {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.toggle-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    position: absolute;
    z-index: 2; 
}

.progress-container {
    position: relative;
    height: 20px;
    margin-top: 20px;
    width: 100%;
}

.progress {
    height: 100%;
}

.progress-bar {
    width: 0;
}

.progress-text {
    position: absolute;
    top: 50%;
    font-size: 14px;
    transform: translate(0, -150%);
}

.progress-text.left {
    left: 0;
}

.progress-text.right {
    right: 0;
}

.progress-text.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #333;
}

video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will maintain aspect ratio while covering the entire screen */
}

@media (min-width: 768px) {
    .progress-container {
        width: 70%;
        margin: 0 auto; 
    }
    
    video {
        width: 80%;
        margin: 0 auto; 
    }
}